## Aviation Accident Risk Analysis Project


### Project Goal
My project aims to analyze aviation accident data to determine the lowest-risk aircraft for a business considering entering the aviation industry.

### Data Source and Exploration
This dataset, sourced from the **National Transportation Safety Board (NTSB)**, contains aviation accident records from 1962 to 2023. Our goal is to analyze key patterns and determine aircraft models with the lowest risk.

The dataset contains aviation accident records with details about aircraft type, accident causes, locations, and other contributing factors.

The target analysis focuses on identifying patterns in accident occurrences, including:

The most common aircraft involved in accidents

The leading causes of aviation accidents

Trends over time and geographical distribution

The correlation between accident severity and aircraft type

I cleaned, analyzed, and visualized the data using Pandas, Tableau, and interactive dashboards to derive insights.

Key Findings
The analysis revealed:

Certain aircraft models have significantly lower accident rates than others.

Human error is a leading cause of aviation accidents, followed by mechanical failure.

Weather conditions play a crucial role in accident severity.

These insights provide valuable recommendations for selecting low-risk aircraft and improving aviation safety strategies.

**Import the necessary libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Read the csv file**

In [2]:
df = pd.read_csv('AviationData.csv', encoding='latin1')

C:\Users\gichu\AppData\Local\Temp\ipykernel_13564\2656823905.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AviationData.csv', encoding='latin1')

info and head

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

**Check for duplicates**

In [5]:
df[df.duplicated()]

Empty DataFrame
Columns: [Event.Id, Investigation.Type, Accident.Number, Event.Date, Location, Country, Latitude, Longitude, Airport.Code, Airport.Name, Injury.Severity, Aircraft.damage, Aircraft.Category, Registration.Number, Make, Model, Amateur.Built, Number.of.Engines, Engine.Type, FAR.Description, Schedule, Purpose.of.flight, Air.carrier, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Broad.phase.of.flight, Report.Status, Publication.Date]
Index: []

[0 rows x 31 columns]

In [6]:
df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [7]:
# plt.figure(figsize=(12,6))
# sns.heatmap(df.isnull(), cbar=False, cmap='viridis')
# plt.title('Missing Values in Dataset')
# plt.show()

**Drop columns with too many missing values**

As per the analysis above, there are many columns with a lot of missing values

Not all columns in the dataset contribute to understanding aircraft safety and risk.  
Here,I'll  remove columns that are **not useful** for our analysis  e.g , columns with excessive missing values:

In [8]:
# first I print out the actual column names
print(df.columns.tolist())

['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category', 'Registration.Number', 'Make', 'Model', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']

As per the result above, not all column names are being displayed maybe due to leading/trailing spaces or special characters that are not immediately visible.

In [9]:
# Remove trailing spaces and replace them with underscores
df.columns = df.columns.str.strip()  
df.columns = df.columns.str.replace(" ", "_")

In [10]:
# Check the actual column names again
print(df.columns.tolist())

['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category', 'Registration.Number', 'Make', 'Model', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']

Now all the column names are being correctly displayed.

The columns with too many misisng values will now be dropped

In [11]:
# This function helps to see just how much each column has missing data 
# It checks the percentage of missing data for each column

def missing_data_summary(df):
    missing_percentage = (df.isnull().sum() / len(df)) * 100
    missing_df = pd.DataFrame({'Column': df.columns, 'Missing Percentage': missing_percentage})
    missing_df = missing_df.sort_values(by='Missing Percentage', ascending=False)
    return missing_df

missing_summary = missing_data_summary(df)
print(missing_summary)

                                        Column  Missing Percentage
Schedule                              Schedule           85.845268
Air.carrier                        Air.carrier           81.271023
FAR.Description                FAR.Description           63.974170
Aircraft.Category            Aircraft.Category           63.677170
Longitude                            Longitude           61.330423
Latitude                              Latitude           61.320298
Airport.Code                      Airport.Code           43.601570
Airport.Name                      Airport.Name           40.708074
Broad.phase.of.flight    Broad.phase.of.flight           30.560587
Publication.Date              Publication.Date           15.492356
Total.Serious.Injuries  Total.Serious.Injuries           14.073732
Total.Minor.Injuries      Total.Minor.Injuries           13.424608
Total.Fatal.Injuries      Total.Fatal.Injuries           12.826109
Engine.Type                        Engine.Type            7.982990
Report.Status                    Report.Status            7.181991
Purpose.of.flight            Purpose.of.flight            6.965991
Number.of.Engines            Number.of.Engines            6.844491
Total.Uninjured                Total.Uninjured            6.650992
Weather.Condition            Weather.Condition            5.053494
Aircraft.damage                Aircraft.damage            3.593246
Registration.Number        Registration.Number            1.554748
Injury.Severity                Injury.Severity            1.124999
Country                                Country            0.254250
Amateur.Built                    Amateur.Built            0.114750
Model                                    Model            0.103500
Make                                      Make            0.070875
Location                              Location            0.058500
Investigation.Type          Investigation.Type            0.000000
Event.Date                          Event.Date            0.000000
Accident.Number                Accident.Number            0.000000
Event.Id                              Event.Id            0.000000

In [12]:
# Drop columns
columns_to_drop = ['Latitude', 'Longitude', 'Airport.Code', 'FAR.Description', 'Schedule', 'Air.carrier']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

## Handling Missing Values

### Handling Missing Values in Numerical Columns
Filling Missing Numerical Values with Mean

Before filling missing values, I'll calculate the mean of each numerical column.

In [13]:
# Calculating mean for numerical columns
fatal_injuries_mean = df['Total.Fatal.Injuries'].mean()
serious_injuries_mean = df['Total.Serious.Injuries'].mean()
minor_injuries_mean = df['Total.Minor.Injuries'].mean()
uninjured_mean = df['Total.Uninjured'].mean()

print(f"Mean Fatal Injuries: {fatal_injuries_mean}")
print(f"Mean Serious Injuries: {serious_injuries_mean}")
print(f"Mean Minor Injuries: {minor_injuries_mean}")
print(f"Mean Uninjured: {uninjured_mean}")

Mean Fatal Injuries: 0.6478551517654346
Mean Serious Injuries: 0.27988059545162935
Mean Minor Injuries: 0.3570611778158948
Mean Uninjured: 5.325439579642552

#### Replace Missing Numerical Values
I will now fill the missing values using the computed mean

In [14]:
# Replacing missing values with computed mean
df['Total.Fatal.Injuries'].fillna(fatal_injuries_mean, inplace=True)
df['Total.Serious.Injuries'].fillna(serious_injuries_mean, inplace=True)
df['Total.Minor.Injuries'].fillna(minor_injuries_mean, inplace=True)
df['Total.Uninjured'].fillna(uninjured_mean, inplace=True)

print(df[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']].isnull().sum())

Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
dtype: int64

### Handling Missing Values in Categorical Columns
Filling Missing Categorical Values with Mode

Before filling missing values, I'll calculate the mode of each categorical column.

In [16]:
#mode for categorical columns
injury_severity_mode = df['Injury.Severity'].mode()[0]
aircraft_category_mode = df['Aircraft.Category'].mode()[0]
broad_phase_mode = df['Broad.phase.of.flight'].mode()[0]

print(f"Mode for Injury Severity: {injury_severity_mode}")
print(f"Mode for Aircraft Category: {aircraft_category_mode}")
print(f"Mode for Broad Phase of Flight: {broad_phase_mode}")

Mode for Injury Severity: Non-Fatal
Mode for Aircraft Category: Airplane
Mode for Broad Phase of Flight: Landing

#### Replace Missing Categorical Values
I will now fill the missing values using the computed mode

In [ ]:
# Replacing missing values with computed mode
df['Injury.Severity'].fillna(injury_severity_mode, inplace=True)
df['Aircraft.Category'].fillna(aircraft_category_mode, inplace=True)
df['FAR.Description'].fillna(far_description_mode, inplace=True)
df['Broad.phase.of.flight'].fillna(broad_phase_mode, inplace=True)

# Verify if values are filled
print(df[['Injury.Severity', 'Aircraft.Category', 'FAR.Description', 'Broad.phase.of.flight']].isnull().sum())

### Data Type Validation and Conversion

In [ ]:
# Check data types
print(df.dtypes)

In [ ]:
# Convert Event.Date to datetime
df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')